@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}

/* 
Gradients 
- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)

- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

/* Body */
body {
  display: grid;
  grid-template-columns: 1fr repeat(12, min(calc(100% / 12), 100px)) 1fr;
  font-family: "Josefin Sans", sans-serif;
}

body > section {
  grid-column: 2 / -2;
}

/* Hero section */
.comingsoon {
  height: 100vh;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr repeat(12, min(calc(100% / 12), 100px)) 1fr;
  grid-template-rows: 200px 1fr;
  background: left top / 50% 100% url(images/bg-pattern-desktop.svg) no-repeat,
    linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%) 50%);
}

/* Logo */
.comingsoon .logo {
  grid-column: 2 / 8;
  margin-top: 4rem;
}

/* The content section */
.comingsoon .content {
  grid-column: 2 / 6;
  grid-row: 2;
}

.comingsoon h1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.2;
  margin-bottom: 0.625rem;
}

.comingsoon .pink {
  color: var(--desaturated-red);
  font-weight: 300;
}

.comingsoon .content > p {
  color: var(--desaturated-red);
  line-height: 1.6;
  margin-bottom: 2.25rem;
}

/* Model picture, right column */
.comingsoon .model {
  grid-column: 8 / -1;
  grid-row: 1 / 3;
}

.comingsoon .model img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* Subscription form */
.comingsoon #subscribe-now {
  width: 100%;
  /* background-color: salmon; */
  position: relative;
}

.comingsoon #subscribe-now .input {
  width: 100%;
  /* background-color: red; */
}

.comingsoon #subscribe-now .input input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  border-radius: 100px;
  font-weight: 600;
  border: 3px solid var(--soft-red);
  background: url(images/icon-error.svg) calc(100% - 5.5rem) center no-repeat;
  margin-bottom: 0.5rem;
  caret-color: var(--desaturated-red);
}

.comingsoon #subscribe-now input::placeholder {
  color: var(--desaturated-red);
  font-weight: 600;
}

.comingsoon #subscribe-now input:focus {
  outline: none;
}

.comingsoon #subscribe-now .input .invalid-message {
  color: var(--desaturated-red);
  padding-left: 20px;
}

.comingsoon #subscribe-now button {
  position: absolute;
  right: -2px;
  top: 0;
  height: 46px;
  width: 80px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: 0;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.comingsoon #subscribe-now button:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
  }

  .comingsoon {
    /* grid-column: 1 / -1; */
    height: unset;
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    background: linear-gradient(
      135deg,
      hsl(0, 0%, 100%),
      hsl(0, 100%, 98%) 50%
    );
  }

  .comingsoon .logo {
    grid-column: unset;
    margin: 2rem 2rem;
  }

  /* The content section */
  .comingsoon .content {
    grid-column: unset;
    grid-row: 3;
    padding: 1.5rem;
  }

  .comingsoon h1 {
    font-size: 3.125rem;
    margin-bottom: 0.625rem;
    text-align: center;
  }

  .comingsoon .content > p {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .comingsoon .model {
    grid-column: unset;
    grid-row: unset;
    grid-row: 2;
    margin-bottom: 3rem;
  }
}
